<div class="container">

  <%= simple_form_for @garage do |f| %>
    <div class="etape active">
      <%= f.input :description %>
      <%= f.input :capacity %>
      <%= f.input :price %>
      <div class="next btn btn-primary">Next step</div>
    </div>

    <div class="etape">
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <div class="next btn btn-primary">Next step</div>
    </div>

    <div class="etape">
        <%= f.input :location %>
        <%= f.input :city %>
        <%= f.submit "add garage" %>
    </div>
  <% end  %>
</div>
