
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-8 my-3" style="background-color: white; border-radius: 10px;">
      <div class="garage-info-header d-flex justify-content-between my-2">
        <div class="garage-title"><h2>Garage de <%= @garage.capacity %>m2 in <%= @garage.city %></h2></div>
        <div class="garage-price"><h2><%= @garage.price %>€/mois <%= render 'shared/stars', note: average(@garage) %></h2></div>
      </div>
      <div class="garage-images border-bottom" style="margin: auto; text-align: center;">
        <img style="width:600px; border-radius: 10px;" src="<%= @garage.photo %>"/>
        <p class="py-2"><i class="fas fa-search-location"></i>  <%= @garage.location %>, <%= @garage.postale %> <%= @garage.city %></p>
      </div>
      <div class="garage-description my-3">
        <h4>Description :</h4>
        <p><%= @garage.description %></p>
      </div>
    </div>

    <div class="col-xs-12 col-4">
      <div class="info-proprietaire my-3 mb-3" style="min-height: 130px; text-align: center; background-color: white; border-radius: 10px;">
        <h3 style="text-align: center;" class="py-2">Proprétaire</h3>
        <p class="mx-3"><%= @garage.user.first_name %> <%= @garage.user.last_name %></p>
        <a class="mb-3" href="mailto:<%= @garage.user.email %>">Contacter le propriétaire</a>
      </div>
      <div class="info-proprietaire my-3 mb-3" style="text-align: center; background-color: white; border-radius: 10px;">
        <h3 style="text-align: center;" class="py-2">Réserver en ligne</h3>
        <div class="mx-2 mb-2">
          <%= link_to 'Louer ce  garage', new_garage_rental_path(@garage), class: 'btn btn-warning mb-3' %>
          <br>
        </div>
      </div>

      <div class="reasurance-garage-show mx-3">
        <div class="d-flex justify-content-around">
          <div class="col-6 mr-2" style="text-align: center; background-color: white; border-radius: 10px;">
            <i class="fas fa-lock"></i>
            <h6>Assurance tout compris</h6>
          </div>
          <div class="col-6 ml-2" style="text-align: center; background-color: white; border-radius: 10px;">
            <i class="far fa-window-close"></i>
            <h6>Annulation gratuite</h6>
          </div>
        </div>
      </div>

      <div class="info-reviews my-3 mb-3" style="text-align: center; background-color: white; border-radius: 10px; min-height: 100px;">
        <h3 style="text-align: center;" class="py-2">Avis</h3>
        <% if @reviews == [] %>
        <p>Aucun avis pour le moment</p>
        <% else %>
        <% @reviews.each do |review| %>
          <div class="review">
            <% if review.user.photo? %>
              <%= cl_image_tag review.user.photo, height: 50, width: 50, crop: :fill, radius:50 %>
            <% elsif review.user.facebook_picture_url? %>
              <%= cl_image_tag review.user.facebook_picture_url, height: 50, width: 50, crop: :fill, radius:50 %>
            <% end %>
            <p><%= review.content %></p>
            <%= render 'shared/stars', note: review.rating %>
            <div class="trait"></div>
          </div>
        <% end %>
        <% end %>
        <% if user_signed_in? %>
          <% if @garage.display_add_review_form(current_user) %>
            <div>
              <%= link_to 'Ajouter une review', new_garage_review_path(@garage), class: 'btn btn-primary my-2' %>
            </div>
          <% end %>
        <% end %>
      </div>


    </div>
  </div>

  <% if policy(@garage).edit? %>
    <%= render '/shared/edit-garage-on-show' %>
  <% end %>

</div>
