<div class="d-flex carddd mt-3 d-flex align-items-center">

  <div class="left-card ml-4" style="text-align: center;">
      <img class="mb-2" src="<%= garage.photo %>" />
  </div>

  <div class="proprio-middle middle-card ml-4">
    <% if garage.rentals.last != nil %>
    <h5 style="text-align: center;">Votre réservations :</h5> <br>
      <ul>
      <% garage.rentals.each do |rental| %>
        <li><strong><%= rental.user.first_name %></strong> : du <%= rental.start_date %> au <%= rental.end_date %>    <%= link_to rental_path(rental), method: :delete, data: { confirm: "Souhaitez-vous vraiment annuler cette réservation ?" } do %>
          <i class="far fa-window-close px-1" style="color: #f26d6d; font-size: 1.1em;"></i>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% else %>
        <p>Aucune réservation en cours</p>
    <% end %>
  </div>
  <div class ="annuler d-flex align-items-center">
    <%= link_to garage_path(garage) do %>
      <i class="far fa-eye px-1"></i>
    <% end %>
    <%= link_to edit_garage_path(garage) do %>
      <i class="far fa-edit px-1"></i>
    <% end %>
    <%= link_to garage_path(garage), method: :delete, data: { confirm: "Souhaitez-vous vraiment supprimer cette annonce ?" } do %>
      <i class="far fa-window-close px-1" style="color: #f26d6d; font-size: 1.1em;"></i>
    <% end %>
  </div>
</div>
