<div class="d-flex carddd mt-3 d-flex align-items-center justify-content-between">

  <div class="left-card ml-4 pt-3" style="text-align: center;">
    <h5>Garage de <%= rental.garage.capacity %>m2 à <%= rental.garage.city %></h5>
    <img class="mb-2" src="<%= rental.garage.photo %>" />
    <p><%= rental.garage.price %>€/mois</p>
  </div>

  <div class="middle-card ml-4">
    <h5><strong>Informations concernant votre location :</strong></h5>
    <p><strong>Prix mensuel :</strong> <%= rental.garage.price %>€</p>
    <p><strong>Adresse :</strong> <%= rental.garage.location %> <%= rental.garage.city %></p>
    <p><strong>Du :</strong> <%= rental.start_date %></p>
    <p><strong>Au :</strong> <%= rental.end_date %></p>
  </div>

  <div class="right-card mr-3">
    <%= link_to 'Annuler cette location', rental_path(rental), method: :delete, data: { confirm: "Etes-vous certains ?"}, class: 'btn btn-danger' %>
  </div>

</div>
