<div class="d-flex carddd mt-3 d-flex align-items-center">

  <div class="left-card ml-4" style="text-align: center;">
    <img class="mb-2" src="<%= rental.garage.photo %>" />
  </div>

  <div class="middle-card ml-4">
    <div class="info">
      <h5> <strong> Garage de <%= rental.garage.capacity %>m2 à <%= rental.garage.city %> </strong></h5>
      <div class="date">
        <p> <strong>Du</strong>: <%= rental.start_date %> </p>
        <p> <strong>Au</strong>:   <%= rental.end_date %> </p>
      </div>
      <div class="proprio">
        <h3>Propriétaire:</h3>
        <p><i class="fas fa-user-check"></i>   <%= rental.garage.user.first_name %></p>
        <p><i class="fas fa-phone"></i>     <%= rental.garage.user.phone_number %></p>
        <p><i class="fas fa-compass"></i>     <%= rental.garage.location %>, <%= rental.garage.city %></p>
      </div>
      <div class="price-location">
        <strong><%= rental.garage.price %>€/mois</strong>
      </div>
    </div>
  <div class="annuler">
    <%= link_to '(X)', rental_path(rental), method: :delete, data: { confirm: "Souhaitez-vous vraiment annuler cette réservation ?" } %>
  </div>
  </div>
</div>
