<div class="d-flex carddd mt-3 d-flex align-items-center">

  <div class="left-card ml-4" style="text-align: center;">
      <img class="mb-2" src="<%= garage.photo %>" />
  </div>

  <div class="proprio-middle middle-card ml-4">
    <% if garage.rentals.last != nil %>
    <h5 style="text-align: center;">Votre réservations :</h5> <br>
      <% garage.rentals.each do |rental| %>
        <ul>
          <li><strong><%= rental.user.first_name %></strong> : du <%= rental.start_date %> au <%= rental.end_date %>

        </ul>
      <% end %>
    <% else %>
        <p>Aucune réservation en cours</p>
    <% end %>
  </div>
  <div class ="annuler">
    <%= link_to '(X)', garage_path(garage), method: :delete, data: { confirm: "Souhaitez-vous vraiment annuler cette réservation ?" } %>
  </div>
</div>
