<div class="card-garage mb-3">
  <%= cl_image_tag garage.photo, crop: :fill %>
  <div class="card-garage-infos">
    <div>
      <h2 style="text-align: left;">Garage de <%= garage.capacity %>m2 à <%= garage.city %></h2>
      <p><%= garage.location %><br><strong><%= garage.price %>€/mois</strong> <%= render 'shared/stars', note: average(garage) %></p>
    </div>
    <div class="loue-par">
      <p>Proposé par <%= garage.user.first_name %></p>
      <br>
      <p><%= link_to "Plus d'infos", garage_path(garage), class: "btn orange" %></p>
    </div>

  </div>
</div>
