<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://www.mobnews.fr/wp-content/uploads/2016/09/nuq7soqv_400x400.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Connexion", "#1", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "S'inscrire", "#2", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://previews.123rf.com/images/123vector/123vector1410/123vector141000378/33052296-illustration-de-bleu-carr%C3%A9-ic%C3%B4ne-du-design-pour-la-question.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Comment ça marche?", "#", class: "dropdown-item" %>
          <%= link_to "Foire aux questions", "#", class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <%= link_to "PROPOSER VOTRE GARAGE", "#", class: "nav-item"%>
      </li>
    </ul>
  </div>
</div>

