<div class="full-screen">
  <%= render 'shared/banner' %>
  <div class="container">
    <%= render 'shared/searchbar' %>
    <%= render 'shared/explain' %>

  </div>
  <%= render 'shared/caroussel' %>
</div>
<%= render 'shared/accreditation' %>
